html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Open Sans', serif;
  /* font-family: "Cormorant", serif; */
  color: #151618;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo img {
  width: 60px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.menu__btn {
  display: none;
  width: 40px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.menu__btn span {
  background-color: #151618;
  height: 2px;
  width: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  z-index: 3;
}

.menu--close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #151618bb;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.menu--close.menu--open {
  display: block;
}

.mobile-nav,
.menu__close {
  display: none;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__item-search {
  margin-left: 80px;
}

.top {
  background-image: url(/image/Header.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  padding-bottom: 50px;
}

.top__inner {
  min-height: 500px;
  color: white;
  font-family: 'Cormorant', serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.title {
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 50px;
}

.top__text {
  font-size: 24px;
  max-width: 560px;
  line-height: normal;
}

.blockquote {
  font-family: 'Cormorant', serif;
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  font-style: italic;
  max-width: 704px;
  margin: 0 auto;
}

.assortment,
.blockquote,
.feedback,
.blog,
.mailing-list,
.prioritise {
  font-family: 'Cormorant', serif;
  padding: 150px 0;
}

.assortment__title,
.feedback__title,
.blog__title,
.prioritise__title {
  text-align: center;
}

.assortment__list {
  display: flex;
  gap: 20px 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.assortment__image {
  width: 208px;
  height: 208px;
}

.assortment__text {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}

.feedback {
  font-family: 'Cormorant', serif;
  background-color: #fbf9f5;
}

.feedback__list {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', serif;
  gap: 20px 20px;
}

.feedback__item {
  flex-basis: 280px;
}

.feedback__text {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 10px;
}

.feedback__author {
  font-weight: 600;
}

.blog__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 72px;
}

.blog__item {
  flex-basis: 542px;
  display: flex;
  gap: 0 20px;
}

.blog__item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog__item-image {
  width: 270px;
  height: 180px;
}

.blog__item__content-title {
  font-weight: 400;
  font-size: 24px;
}

.blog__item__content-author,
.blog__item__content-btn {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 13px;
}

.blog__link {
  border: 1px solid black;
  padding: 12px 41px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 150px;
}

.mailing-list {
  font-family: 'Cormorant', serif;
  padding: 120px 0;
  background-color: #f7f2ea;
  background-image: url(/image/bgImage2.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.mailing-list__inner {
  display: flex;
  gap: 40px;
}

.mailing-list__text {
  line-height: 1.5;
  flex-basis: 580px;
}

.mailing-list__form {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 580px;
}

.mailing-list__form-email {
  border: none;
  border-bottom: 1px solid #b8b58b;
  background-color: transparent;
  padding: 3px 15px;
  width: 438px;
  line-height: 30px;
  margin-right: 25px;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  font-style: normal;
  color: #151618;
}

.mailing-list__form-label {
  margin-top: 16px;
}

.mailing-list__form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  padding-left: 2px;
}

.mailing-list__form-checkbox-style {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #151618;
  margin-top: 5px;
}

.mailing-list__form-checkbox:checked
  + .mailing-list__form-checkbox-style::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #151618;
  top: 1px;
  left: 1px;
}

.mailing-list__form-email::placeholder {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  font-style: normal;
  color: #b8b58b;
}

.mailing-list__form-btn {
  border: 1px solid #151618;
  padding: 12px 41px;
  background-color: white;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  font-style: normal;
  cursor: pointer;
}

.mailing-list__form-checkbox-text {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.7;
  padding-left: 20px;
}

.prioritise__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.prioritise__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 248px;
}

.prioritise__item-title {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 10px;
}

.prioritise__item-text {
  font-weight: 600;
  margin-bottom: 20px;
}

.prioritise__item-image {
  width: 60px;
  height: 60px;
}

@media (max-width: 1000px) {
  .header__inner {
    padding: 20px 0;
  }

  .logo img {
    width: 50px;
  }

  .menu__list {
    gap: 0 35px;
  }

  .user-actions__item-search {
    margin-left: 15px;
  }

  .blockquote {
    max-width: 640px;
  }

  .assortment {
    margin-bottom: 120px;
  }

  .assortment__image {
    width: 170px;
    height: 170px;
  }

  .feedback__item.feedback__item--hide {
    display: none;
  }

  .blog__item {
    flex-basis: 460px;
  }

  .blog__item-image {
    width: 230px;
    height: 153px;
  }
}

@media (max-width: 768px) {
  .menu {
    order: -1;
  }

  .menu__list {
    transform: translateY(-100%);
    display: block;
    text-align: center;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 360px;
    margin: 0 auto;
    padding-top: 60px;
    background-color: white;
    transition: transform 0.5s ease;
  }

  .menu__list.menu__list-open {
    transform: translateY(0);
  }

  .mobile-nav,
  .menu__close {
    display: block;
  }

  .menu__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menu__item {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Cormorant', serif;
  }

  .mobile-menu {
    padding-top: 60px;
    margin: 60px 0;
    border-top: 2px solid #f7f2ea;
  }

  .mobile-menu__item {
    margin-bottom: 35px;
  }

  .mobile-actions {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: #f7f2ea;
  }

  .menu__btn {
    display: flex;
  }

  .blockquote {
    font-size: 26px;
    margin: 90px auto;
  }

  .title {
    font-size: 29px;
  }

  .feedback__item.feedback__item--hide {
    display: block;
  }

  .feedback__list {
    flex-wrap: wrap;
  }

  .feedback__item {
    flex-basis: 210px;
  }
}

@media (max-width: 480px) {
  .header__inner {
    padding: 10px 0;
  }

  .logo img {
    width: 40px;
  }

  .title {
    font-size: 29px;
    font-weight: 300;
  }

  .top__inner {
    min-height: 367px;
  }

  .blockquote {
    font-size: 21px;
    max-width: 376px;
    margin: 60px auto;
  }

  .assortment__image {
    width: 150px;
    height: 150px;
  }

  .feedback__item {
    flex-basis: 100%;
  }
}
