html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Open Sans', serif;
  /* font-family: "Cormorant", serif; */
  color: #151618;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo img {
  width: 60px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.menu__btn {
  display: none;
  width: 40px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.menu__btn span {
  background-color: #151618;
  height: 2px;
  width: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  z-index: 3;
}

.menu--close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #151618bb;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.menu--close.menu--open {
  display: block;
}

.mobile-nav,
.menu__close {
  display: none;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__item-search {
  margin-left: 80px;
}

.top {
  background-image: url(/image/Header.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.top__inner {
  min-height: 500px;
  color: white;
  font-family: 'Cormorant', serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.top__title {
  font-size: 60px;
  margin-top: 48px;
  margin-bottom: 20px;
  max-width: 760px;
  line-height: 1;
  font-weight: 400;
}

.top__text {
  font-size: 24px;
  margin-bottom: 48px;
  max-width: 560px;
  line-height: normal;
}

.blockquote {
  font-family: 'Cormorant', serif;
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  font-style: italic;
  max-width: 704px;
  margin: 150px auto;
}

.assortment {
  font-family: 'Cormorant', serif;
  margin-top: 75px;
  margin-bottom: 150px;
}

.assortment__title {
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.assortment__list {
  display: flex;
  gap: 20px 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.assortment__image {
  width: 208px;
  height: 208px;
}

.assortment__text {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .header__inner {
    padding: 20px 0;
  }

  .logo img {
    width: 50px;
  }

  .menu__list {
    gap: 0 35px;
  }

  .user-actions__item-search {
    margin-left: 15px;
  }

  .blockquote {
    max-width: 640px;
  }

  .assortment {
    margin-bottom: 120px;
  }

  .assortment__image {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 768px) {
  .menu {
    order: -1;
  }

  .menu__list {
    transform: translateY(-100%);
    display: block;
    text-align: center;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 360px;
    margin: 0 auto;
    padding-top: 60px;
    background-color: white;
    transition: transform 0.5s ease;
  }

  .menu__list.menu__list-open {
    transform: translateY(0);
  }

  .mobile-nav,
  .menu__close {
    display: block;
  }

  .menu__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menu__item {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Cormorant', serif;
  }

  .mobile-menu {
    padding-top: 60px;
    margin: 60px 0;
    border-top: 2px solid #f7f2ea;
  }

  .mobile-menu__item {
    margin-bottom: 35px;
  }

  .mobile-actions {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: #f7f2ea;
  }

  .menu__btn {
    display: flex;
  }

  .blockquote {
    font-size: 26px;
    margin: 90px auto;
  }

  .assortment__title {
    font-size: 29px;
  }
}

@media (max-width: 480px) {
  .header__inner {
    padding: 10px 0;
  }

  .logo img {
    width: 40px;
  }

  .top__title {
    font-size: 40px;
    font-weight: 300;
  }

  .top__inner {
    min-height: 367px;
  }

  .blockquote {
    font-size: 21px;
    max-width: 376px;
    margin: 60px auto;
  }

  .assortment__title {
    font-size: 29px;
  }

  .assortment__image {
    width: 150px;
    height: 150px;
  }
}
